<persistence xmlns="https://jakarta.ee/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_1.xsd"
             version="3.1">
             
     <persistence-unit name="H2" transaction-type="RESOURCE_LOCAL">
        <description>H2 persistence unit</description>
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="hibernate.archive.autodetection" value="class, hbm"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
            <property name="hibernate.connection.driver_class" value="org.h2.Driver"/>
            <property name="hibernate.connection.url" value="jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1"/>
            <property name="hibernate.connection.username" value="sa"/>
            <property name="hibernate.connection.pool_size" value="5"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="none"/>
            <property name="hibernate.max_fetch_depth" value="5"/>
            <property name="h2.console.enabled" value="true" />
            <property name="h2.console.path" value="/h2-console" />
            <property name="h2.console.settings.trace" value="false" />
            <property name="h2.console.settings.web-allow-others" value="false" />
            
        <!--  
            <property name="hibernate.cache.region_prefix" value="hibernate.h2"/>
            <property name="hibernate.cache.region.factory_class" value="org.hibernate.testing.cache.CachingRegionFactory"/>
            <property name="hibernate.jdbc.batch_versioned_data" value="true"/>
            <property name="jakarta.persistence.validation.mode" value="NONE"/>
            <property name="hibernate.service.allow_crawling" value="false"/>
            <property name="hibernate.session.events.log" value="true"/>
        -->    
        </properties>
    </persistence-unit>
    
</persistence>


      
      
      